/* CSS para a página home */
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Estilo para o corpo da página */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Estilo para o cabeçalho da página */
.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #252525;
    font-size: 1.2rem;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.links a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.linguas {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.linguas a {
    margin: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.linguas img {
    margin-left: 5px;
    height: 15px;
}

@media screen and (max-width: 800px) {
    .links {
        width: 100%;
    }

    .linguas {
        width: 50%;
    }
}

@media screen and (max-width: 450px) {
    .titulo{
        display: block;
    }

    .links {
        width: 50%;
    }

    .linguas {
        width: 25%;
    }
}


/* Estilo para a seção Home */
.Home {
    margin: 40px;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
    color: #555;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #555;
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.texto-about-me {
    flex: 1;
}

.texto-about-me p {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}

.img-eu {
    flex: 1;
}

.img-eu img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 800px) {
    .about {
        flex-direction: column;
    }

    .texto-about-me {
        margin-top: 40px;
    }

    .img-eu {
        margin-top: 40px;
    }
}


/* Estilo para a seção Projetos */
.projetos {
    text-align: center;
    margin: 50px auto;
    background-color: #252525;
}

.projetos h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
}

.projetos h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 40px;
    color: #fff;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#texto p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    margin: 0 30px;
    max-width: 800px;
    color: #fff;
}

/* estilo para a div de código */
.codigo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* estilo para o título que abre o modal */
  .abrir-modal {
    cursor: pointer;
  }
  
  /* estilo para a div do modal */
  .modal-codigo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* estilo para o conteúdo do modal */
  .modal-conteudo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 300px;
    max-height: 250px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }
  
  /* estilo para a imagem dos links */
  .modal-conteudo img {
    width: 100%;
    max-width: 100px;
    margin: 1px 0;
  }
  
  /* estilo para o botão de fechar */
  .modal-conteudo button {
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.modal-conteudo button:hover {
    background-color: #3e8e41;
}
  
  /* estilo para mostrar o modal quando aberto */
  .modal-codigo.mostrar {
    display: block;
  }

/* Estilo do botão de abertura do modal */
.abrir-modal {
    cursor: pointer;
}

/* Exibição do modal quando estiver aberto */
.modal-codigo.aberto {
    display: flex;
}

.link {
    display: flex;
    align-items: center; 
  }

  .modal-conteudo a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
  }

  


@media screen and (max-width: 800px) {
    .projetos iframe {
        width: 100%;
        height: 300px;
    }

    #video {
        width: 100%;
        order: 1;
    }

    #texto {
        width: 100%;
        order: 2;
    }
}


/* Estilo para o container "contato" */
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    max-width: 800px;
}

/* Estilo para o título "Contate-me" */
.contato h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* Estilo para o formulário de contato */
.gmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 30px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ddd;
}

/* Estilo para o ícone do Gmail */
.gmail img {
    width: 100px;
    margin-bottom: 20px;
}

/* Estilo para os campos do formulário */
.gmail h4 {
    margin-top: 20px;
}

.gmail input[type="text"],
.gmail input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.gmail input[name="mensagem"] {
    height: 150px;
}

.gmail input[name="mensagem"]::placeholder {
    text-align: start;
}

.gmail button[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.gmail button[type="submit"]:hover {
    background-color: #3e8e41;
}




/* Estilo para o título "Ou" */
.contato h2:nth-of-type(2) {
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Estilo para os ícones de contato */
.img-contato {
    display: flex;
    justify-content: center;
}

.img-contato a {
    margin: 0 20px;
}

.img-contato img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.img-contato img:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 800px) {
    .gmail {
        width: 100%;
    }
}