{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/home.css'%}">
    <script src="{% static 'home/js/home.js' %}"></script>
    <title>Portfólio</title>
</head>
<header class="">
    <div class="container">
      <a href="#sobre">
        <h2>Portfólio</h2>
      </a>
      <div class="idioma">
        <button id="english-button">English</button>
        <button id="spanish-button">Español</button>
        <div id="content"></div>
    </div>
    </div>
  </header>
<body>
    <div class="apresentação">
        <h2>Olá, eu me chamo André Coêlho!</h2>
        <h3>Desenvolvedor Back-End</h3>
        <button>Curriculo</button>
        <button>Entrar em contato</button>
        <img src="" alt="">
    </div>
    <div class="sobre">
        <h1>Sobre mim</h1>
    </div>
    <div class="projetos">
        <h1>Esses são os projetos que eu desenvolvi!</h1>
    </div>
</body>
</html>